.App {
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.25);
  height: 100vh;
}

nav {
  z-index: 2;
}

.logo {
  height: 61px;
}

.nav-brand {
  max-width: 276px;
  height: 96px !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 112px;
  }
}
